---
const { sideBarActiveItemID } = Astro.props

const items = [
  { id: 'home', label: 'Home', href: '/' },
  { id: 'contributor', label: 'Contributor', href: '/contributor' },
  { id: 'outcomes', label: 'Outcomes', href: '/outcomes' },
  { id: 'projects', label: 'Projects', href: '/projects' },
  { id: 'services', label: 'Services', href: '/services' },
  { id: 'writing', label: 'Writing', href: '/writing/' },
  { id: 'cv', label: 'CV', href: '/cv' },
] as const
---

<ul class="menu grow shrink menu-md overflow-y-auto">
  {
    items.map((item) => (
      <li>
        <a
          id={item.id}
          href={item.href}
          class:list={[
            'py-3 text-base',
            sideBarActiveItemID === item.id && 'bg-base-300 font-semibold',
          ]}
        >
          {item.label}
        </a>
      </li>
    ))
  }
  <li>
    <a class="py-3 text-base" href="mailto:jon@jonbogaty.com">Contact</a>
  </li>
</ul>
